# Core functionality - changes here should be rare!
/src/app.py                   @chyrka
/src/backend/database.py      @chyrka
/src/backend/routers/auth.py  @chyrka

# The frontend will need refactored soon to be more object oriented.
/src/static/   @chyrka
